#########################################################
# EDIT THIS FILE TO CONFIGURE POPINS BEFORE COMPILATION #
#########################################################

# path to seqan library
INCLUDE = -I../libraries

# paths to binaries of external tools
SAMTOOLS := samtools
BWA := bwa
SICKLE := sickle
VELVETH := velveth-63
VELVETG := velvetg-63

#########################################################
