#########################################################
# EDIT THIS FILE TO CONFIGURE POPINS BEFORE COMPILATION #
#########################################################

# Path to seqan library
SEQAN_LIB = .

# Paths to binaries of external tools
SAMTOOLS := samtools
BWA := bwa
SICKLE := sickle
VELVETH := velveth-63
VELVETG := velvetg-63

#########################################################
